@charset "UTF-8";

h1 {
	font-family: "Avenir Next";
	font-size: 28pt;
	font-weight: bold;
}

.text-body {
	font-family: "Avenir Next";
	font-size: 16pt;
}

body {
	padding-left: 32pt;
}

ul {
	list-style: none;
}
